.footer {
    align-items: center;
    background: #1a1a1a4d;
    display: flex;
    height: 80px;
    width: 100%;
  }
  
.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

